<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>index</title>
  <meta charset="UTF-8">
  <meta name="description" content="index">
  <meta name="keywords" content="HTML, CSS, XML, JavaScript">
  <meta name="author" content="jess">
  <meta http-equiv="refresh" content="30">    <!--  Refresh document every 30 seconds: -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- responsive behaviors -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS & reboot CSS -->
  <link rel="stylesheet" href="css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
  <header>
    <nav id="header-nav" class="navbar navbar-expand-sm navbar-dark bg-dark">
      <div class="container flex-xl-column flex-lg-column flex-md-column flex-sm-column justify-content-cen ter">
        <a id="logo1" class="navbar-brand" href="index.html">
          <div id="logo-img" class="d-none d-sm-block"></div>
          <img src="images/pieguyzlogonew.png" alt="Responsive image" class="img-rounded center-block d-block d-sm-none img-fluid">
        </a>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
          <ul id="nav-list" class="navbar-nav flex-wrap text-center mx-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">HOME<span class="sr-only">Home</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><span>ABOUT US</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">OUT MENU</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">GALLERY</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">SPECIALS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">CONTACT US</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">UPCOMING EVENTS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">COOKING INSTRUCTIONS</a>
            </li>

            <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li> -->
          </ul>
          <!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form> -->
        </div>

      </div> <!--container end -->
    </nav>
  </header>

  <div id="call-btn" class="d-block d-md-none">
    <a class="btn" href="tel:905-497-0077">
      <!-- <img src="package/build/svg/bell.svg" alt="SVG" height="20px;" width="20px;"> -->
      <span class="logo1-svg"></span>
      905-497-0077
    </a>
  </div>
  <div id="xs-deliver" class="text-center d-block d-sm-none">* Made Fresh</div>


  <div id="main-content" class="container">
    <div class="jumbotron">
      <img src="images/5D4B3738-Deep-Dish-Apple-Pie.jpg" alt="Pie" class="img-fluid">
    </div>

    <div id="home-tiles" class="row">
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mchange">
        <a href="menu-categories.html">
          <div id="menu-tile" class="category-tile lamb-tile d-flex justify-content-center">
            <img src="images/2/500g_protein_360x.jpg" alt="1" class="img-fluid">
            <span>lamb</span>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mchange">
        <a href="single-category.html" class="d-flex justify-content-center">
          <div id="specials-tile" class="category-tile chicken-tile">
            <img src="images/featue1-lamb.jpg" alt="2" class="img-rounded img-fluid">
            <span>chicken</span>
          </div>
        </a>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mchange">
        <a href="menu-categories.html">
          <div id="menu-tile" class="category-tile vegetarian-tile">
            <img src="images/feature3-vegetarian.jpg" alt="1" class="img-fluid">
            <span>vegetarian</span>
            <div class="yesman">
              <div class="inner1">
                Title Here:
              </div>
              <p>Now that we are feeling comfortable with just about everything built into Atom, let's look at how to tweak it. Perhaps there is a keybinding that you use a lot but feels wrong or a color that isn't quite right for you. Atom is amazingly flexible, so let's go over some of the simpler flexes it can do.</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mchange">
        <a href="single-category.html">
          <div id="specials-tile" class="category-tile steak-tile">
            <img src="images/2/200x600.png" alt="2" class="img-rounded img-fluid">
            <span>steak</span>
          </div>
        </a>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mchange">
        <a href="menu-categories.html">
          <div id="menu-tile" class="category-tile tile-1 text-center">
            <img src="images/5D4B3738-Deep-Dish-Apple-Pie.jpg" alt="1" class="img-fluid">
            <span>lamb</span>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mchange">
        <a href="single-category.html">
          <div id="specials-tile" class="category-tile tile-2">
            <img src="images/2/salmonella-infection-dogs.jpg" alt="2" class="img-rounded img-fluid">
            <span>chicken</span>
          </div>
        </a>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mchange">
        <a href="menu-categories.html">
          <div class="row justify-content-center">
            <div id="menu-tile" class="col-sm-12 category-tile tile-3">
              <img src="images/2/500g_hemp_seeds_360x.jpg" alt="1" class="img-fluid">
              <span>vegetarian</span>
            </div>
          </div>

        </a>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mchange">
        <a href="single-category.html">
          <div id="specials-tile" class="category-tile tile-4 d-flex justify-content-center">
            <img src="images/2/51cc84hBwRL.jpg" alt="2" class="img-rounded img-fluid">
            <span>steak</span>
          </div>
        </a>
      </div>




      <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <a href="https://goo.gl/maps/wJQXrv99fSL2" target="_blank">
          <div id="map-tile">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2882.0624570699592!2d-79.72889938449909!3d43.75079977911809!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b3d77bb7b1f19%3A0x21b41cab5275acb!2sThe+Pie+Guyz!5e0!3m2!1sen!2sca!4v1551499407044" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
            <span>map</span>
          </div>
        </a>
      </div>
    </div><!-- End of #home-tiles -->
  </div><!-- End of #main-content -->



  <!-- <div class="container pattern">
    hi <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  </div> -->
  <div class="okeyokey">
    <a href="jofiwjefwmelf.com">
      <p>Now that we are feeling comfortable with just about everything built into Atom, let's look at how to tweak it. Perhaps there is a keybinding that you use a lot but feels wrong or a color that isn't quite right for you. Atom is amazingly flexible, so let's go over some of the simpler flexes it can do.</p>
    </a>
  </div>
  <footer class="card-footer">
    <div class="container">
      <div class="row">
        <section id="hours" class="col-md-4">
          <span class="card-title">Hours:<br></span>
          <span class="card-text">

          Mon-Fri: 9:00am - 7:00pm<br>
          Sat: 10:00am - 6:00pm<br>
          Sunday Closed
          </span>

          <hr class="d-block d-md-none">
        </section>
        <section id="address" class="col-md-4">
          <span class="card-title">Address:<br></span>
          <span class="card-text">
            Shop #12 <br>
            2120 North Park Dr. <br>
            Brampton, ON L6S 0C9
            <p>* Delivery area within 3-4 miles, with minimum order of $20 plus $3 charge for all deliveries.</p>
          </span>
          <hr class="d-block d-md-none">
        </section>
        <section id="testimonials" class="col-md-4">
          <p class="card-text">"The best pie restaurant I've been to! And that's saying a lot, since I've been to many!"</p>
          <p class="card-text">"Fresh and delicious pies, excellent customer service! Couldn't ask for more! I'll be back again and again!"</p>
        </section>
      </div>
      <div class="text-center">&copy; Copyright The Pie Guyz 2018</div>
    </div>
  </footer>













  <!-- jQuery (Bootstrap JS plugins depend on it) -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/script.js"></script>
</body>
</html>
